@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #d1d5db;
	border-radius: 3px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
	background: #475569;
	border-radius: 3px;
}

/* Scroll thumb:hover */
::-webkit-scrollbar-thumb:hover {
	background: #0f172a;
}
